html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  h1 {
    font-size: 1.8rem; 
    color: white;
  }
  p { 
    font-size: 1.2rem;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #0A1128;
  }
  body {  
    margin: 0;
  }
  button{
    background-color: #034078;
    border: none;
    padding: 14px 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 150px;
    color: white;
    cursor: pointer;
  }